.headshot {
   width: 160px;
   height: 240px;
   float: left;
   padding: 0px 10px 0px 0px;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    width: 960px;
    height: 80px;
    margin: 0 auto;
}

.myName {
    
    float: left;
}

.logo {
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
}

.menuBar {
    float: right;

}

.contentArea {
    clear: both;
    width: 960px;
    margin: 0 auto;
}

.aboutMe {
    width: 650px;
    float: left;
    
}

.connectWithMe {
    width: 270px;
    float: right;
    
}

.footer {
    clear: both;
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    background-color: #666666;
}

.copyrightText {
    color: white;
    text-align: center;
    font-size: 10px;
}
