body {
    position: relative; 
}

#section1 {padding-top:40px;padding-bottom:40px;color: #000; background-color: #cae4db;}
#section2 {padding-top:40px;padding-bottom:40px;color: #fff; background-color: #00303f;}
#section3 {padding-top:40px;padding-bottom:40px;color: #000; background-color: #7a9d96;}
#section4 {padding-top:40px;padding-bottom:40px;color: #fff; background-color: #dcae1d;}

h1 {
    font-weight: bold;
}

h1, h3, h4, p, li  {
    text-align: center;
    font-family: 'Raleway';
}

.img-responsive {
    margin: 0 auto;
}

a {
    color: #000080;
}